.layout img {
  margin: auto;
  max-width: 98%;
  display: block;
  height: auto;
}
.img_wrapper {
  display: flex;
  max-width: 800px;
  margin: auto;
}
.layout h1,
.layout h4 {
  text-align: center;
}
